In [61]:
import pandas as pd 
import os

In [62]:
df = pd.read_json(r'C:\Code Files\MonkeyTypeAutomation\data\raw\monkeytype.results.json')

In [63]:
df.head()

,_id,uid,wpm,rawWpm,charStats,acc,mode,mode2,timestamp,restartCount,...,consistency,keyConsistency,chartData,name,keySpacingStats,keyDurationStats,afkDuration,difficulty,isPb,punctuation
0,{'$oid': '68866be8debff78a43099934'},L2EYxu6DTIMkDVr4ySp99K1YwvM2,111.38,132.59,"[42, 2, 0, 0]",94.00,words,10,2025-07-27 18:11:52,3.0,...,90.03,55.03,"{'wpm': [120, 78, 96, 90, 111], 'raw': [132, 1...",brenzo,"{'average': 92.35, 'sd': 42.5}","{'average': 117.95, 'sd': 55.55}",NaN,NaN,NaN,NaN
1,{'$oid': '68866bd8debff78a430998b2'},L2EYxu6DTIMkDVr4ySp99K1YwvM2,98.42,110.13,"[42, 1, 0, 1]",91.84,words,10,2025-07-27 18:11:36,1.0,...,61.67,6.42,"{'wpm': [108, 78, 72, 84, 94, 98], 'raw': [120...",brenzo,"{'average': 106.7, 'sd': 114.01}","{'average': 122.37, 'sd': 61.09}",NaN,NaN,NaN,NaN
2,{'$oid': '68866bd0debff78a4309986d'},L2EYxu6DTIMkDVr4ySp99K1YwvM2,126.76,140.24,"[47, 2, 0, 0]",94.23,words,10,2025-07-27 18:11:28,3.0,...,74.49,48.15,"{'wpm': [155, 144, 112, 102, 127], 'raw': [156...",brenzo,"{'average': 87.25, 'sd': 45.04}","{'average': 131.99, 'sd': 60.77}",NaN,NaN,NaN,NaN
3,{'$oid': '68866bc3debff78a43099810'},L2EYxu6DTIMkDVr4ySp99K1YwvM2,79.99,94.87,"[43, 2, 0, 0]",89.09,words,10,2025-07-27 18:11:15,1.0,...,64.38,1.11,"{'wpm': [144, 108, 72, 87, 91, 76, 80], 'raw':...",brenzo,"{'average': 119.46, 'sd': 152.12}","{'average': 122.46, 'sd': 55.06}",NaN,NaN,NaN,NaN
4,{'$oid': '68866bb9debff78a430997b6'},L2EYxu6DTIMkDVr4ySp99K1YwvM2,131.06,144.43,"[49, 1, 0, 0]",96.30,words,10,2025-07-27 18:11:05,NaN,...,82.05,57.03,"{'wpm': [132, 126, 132, 132, 131], 'raw': [144...",brenzo,"{'average': 84.65, 'sd': 36.02}","{'average': 125.81, 'sd': 52.87}",NaN,NaN,NaN,NaN

In [64]:
df.columns

Index(['_id', 'uid', 'wpm', 'rawWpm', 'charStats', 'acc', 'mode', 'mode2',
       'timestamp', 'restartCount', 'incompleteTestSeconds', 'testDuration',
       'consistency', 'keyConsistency', 'chartData', 'name', 'keySpacingStats',
       'keyDurationStats', 'afkDuration', 'difficulty', 'isPb', 'punctuation'],
      dtype='object')

In [65]:
df.drop(columns=[col for col in ['uid', 'charStats', 'mode', 'mode2', 'incompleteTestSeconds', 
                                 'keyConsistency', 'chartData', 'name', 'keySpacingStats', 
                                 'keyDurationStats', 'afkDuration', 'difficulty', 'punctuation'] if col in df.columns], 
                                inplace=True)

In [66]:
df = df.rename(columns={'_id': 'test_id',
                       'wpm': 'wpm',
                       'rawWpm': 'raw_wpm',
                       'charStats': 'char_stats',
                       'acc': 'accuracy',
                       'timestamp': 'time',
                       'restartCount': 'restart_count',
                       'testDuration': 'duration',
                       'consistency': 'consistency',
                       'isPb': 'personal_best'})

In [67]:
df.head()

,test_id,wpm,raw_wpm,accuracy,time,restart_count,duration,consistency,personal_best
0,{'$oid': '68866be8debff78a43099934'},111.38,132.59,94.00,2025-07-27 18:11:52,3.0,4.53,90.03,NaN
1,{'$oid': '68866bd8debff78a430998b2'},98.42,110.13,91.84,2025-07-27 18:11:36,1.0,5.12,61.67,NaN
2,{'$oid': '68866bd0debff78a4309986d'},126.76,140.24,94.23,2025-07-27 18:11:28,3.0,4.45,74.49,NaN
3,{'$oid': '68866bc3debff78a43099810'},79.99,94.87,89.09,2025-07-27 18:11:15,1.0,6.45,64.38,NaN
4,{'$oid': '68866bb9debff78a430997b6'},131.06,144.43,96.30,2025-07-27 18:11:05,NaN,4.49,82.05,NaN

In [68]:
df['restart_count'] = df['restart_count'].fillna(0)
df['restart_count'].head()

0    3.0
1    1.0
2    3.0
3    1.0
4    0.0
Name: restart_count, dtype: float64

In [69]:
df.head()

,test_id,wpm,raw_wpm,accuracy,time,restart_count,duration,consistency,personal_best
0,{'$oid': '68866be8debff78a43099934'},111.38,132.59,94.00,2025-07-27 18:11:52,3.0,4.53,90.03,NaN
1,{'$oid': '68866bd8debff78a430998b2'},98.42,110.13,91.84,2025-07-27 18:11:36,1.0,5.12,61.67,NaN
2,{'$oid': '68866bd0debff78a4309986d'},126.76,140.24,94.23,2025-07-27 18:11:28,3.0,4.45,74.49,NaN
3,{'$oid': '68866bc3debff78a43099810'},79.99,94.87,89.09,2025-07-27 18:11:15,1.0,6.45,64.38,NaN
4,{'$oid': '68866bb9debff78a430997b6'},131.06,144.43,96.30,2025-07-27 18:11:05,0.0,4.49,82.05,NaN

In [70]:
df['personal_best'] = df['personal_best'].fillna(False)
df['personal_best'].head()

0    False
1    False
2    False
3    False
4    False
Name: personal_best, dtype: object

In [71]:
df[df['personal_best'] == True].head()

,test_id,wpm,raw_wpm,accuracy,time,restart_count,duration,consistency,personal_best
183,{'$oid': '685e099a0af9eada72320c05'},133.79,133.79,100.00,2025-06-27 03:01:46,7.0,4.13,59.12,1.0
184,{'$oid': '685e097f0af9eada72320b40'},104.48,104.48,95.74,2025-06-27 03:01:19,0.0,5.17,46.80,1.0
308,{'$oid': '6810700348f68b9fff429c18'},166.15,166.15,100.00,2025-04-29 06:21:55,2.0,3.76,94.24,1.0
1041,{'$oid': '66e782db9f671a0853d11854'},108.73,122.92,93.94,2024-09-16 00:59:07,16.0,12.69,82.91,1.0
1043,{'$oid': '66e782069f671a0853d1121e'},107.14,129.24,88.03,2024-09-16 00:55:34,1.0,10.86,83.57,1.0

In [72]:
df['test_id'] = df['test_id'].apply(lambda x: x.get('$oid') if isinstance(x, dict) else x)
df['test_id'].head()

0    68866be8debff78a43099934
1    68866bd8debff78a430998b2
2    68866bd0debff78a4309986d
3    68866bc3debff78a43099810
4    68866bb9debff78a430997b6
Name: test_id, dtype: object

In [73]:
df

,test_id,wpm,raw_wpm,accuracy,time,restart_count,duration,consistency,personal_best
0,68866be8debff78a43099934,111.38,132.59,94.00,2025-07-27 18:11:52,3.0,4.53,90.03,False
1,68866bd8debff78a430998b2,98.42,110.13,91.84,2025-07-27 18:11:36,1.0,5.12,61.67,False
2,68866bd0debff78a4309986d,126.76,140.24,94.23,2025-07-27 18:11:28,3.0,4.45,74.49,False
3,68866bc3debff78a43099810,79.99,94.87,89.09,2025-07-27 18:11:15,1.0,6.45,64.38,False
4,68866bb9debff78a430997b6,131.06,144.43,96.30,2025-07-27 18:11:05,0.0,4.49,82.05,False
...,...,...,...,...,...,...,...,...,...
3249,667f827b6dc967ef98e3148a,56.38,62.42,90.00,2024-06-29 03:41:47,0.0,11.92,52.66,False
3250,667f826e6dc967ef98e3142a,57.72,73.47,85.71,2024-06-29 03:41:34,0.0,9.15,46.55,False
3251,667f82636dc967ef98e313e8,78.52,86.00,91.49,2024-06-29 03:41:23,0.0,6.42,76.50,False
3252,667f825b6dc967ef98e313ba,74.73,74.73,96.00,2024-06-29 03:41:15,6.0,7.71,70.81,False
3253,667f820a6dc967ef98e311be,91.14,91.14,100.00,2024-06-29 03:39:54,15.0,6.45,72.47,1.0

In [74]:
output_path = r'C:\Code Files\MonkeyTypeAutomation\data\processed\metrics.csv'
os.makedirs(os.path.dirname(output_path), exist_ok=True)
df.to_csv(output_path, index=False)